
  .note {
    width: 400px;
    height: 160px;
    margin-top: 40px;
    padding: 5px;
    border: 1px solid hsla(0, 4%, 11%, 0.664);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: wheat;
  }
 
  .delete-button {
    margin-right:0%;
    background-color: red; 
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .content {
    display: grid;
    grid-template-rows:max-content;
    gap: 10px; /* Adjust the gap as needed */
  }
  
  